/* 
===== COLORS =======
#fff
#959595
====================
 */

 body {
  font-family: 'Source Sans Pro', sans-serif;
}

#main-container {
  padding: 0;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/* ===================== */
/* NAVIGATION */
/* ===================== */

#navigation-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5% 15%;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

#main-menu .nav-link {
  color: #fff;
}

#main-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}

#main-menu .nav-link:active {
  background-color: #fff;
  color: #000;
}

#main-menu .current {
  background-color: #fff;
  color: #000;
}

/* ===================== */
/* WELCOME */
/* ===================== */

#welcome {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/dataanalysisbackground.jpeg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#profile-image {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

#welcome h1,
#welcome h2 {
  text-align: center;
  opacity: 0.75;
  text-transform: uppercase;
}

#welcome h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

#social-media-icons a {
  margin: 0 2.5%;
}

#social-media-icons a:hover {
  transform: scale(1.5);
}


/* RECOMMENDATIONS */
#recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  background-color: #f0f5f9;
}

#slide-content img {
  border-radius: 50%;
  width: 10rem;
  margin: 5%;
  opacity: 0.8;
}

#slide-content a {
  color: #3282b8;
}

#slide-content a:hover {
  color: #52616b;
}

#slide-content h2 {
  font-size: 1.5rem;
}

#slide-content h3 {
  font-size: 1.25rem;
  margin: 1rem;
}

#slide-content p {
  padding: 0 15%;
  margin-bottom: 5rem;
  font-style: italic;
  color: #52616b;
}

.lq-icon {
  margin-right: 1%;
  margin-bottom: 1%;
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
  font-size: 1.5rem;
  color: #52616b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next-icon:after {
  content: '>';
  right: 50%;
}

.carousel-control-prev-icon:after {
  content: '<';
  left: 50%;
}

/* EDUCATION */
#education {
  background-color: #c9d6df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education h2 {
  color: #52616b;
  margin: 5% 0;
}

/* CERTIFICATIONS */
#certifications {
  background-color: #f0f5f9;
  padding: 5% 0;
}

#certifications img {
  width: 20rem;
  margin-bottom: 2.5rem;
}

#certifications hr {
  border: 0;
  height: 1px;
  width: 50%;
  background-image: linear-gradient(
      to right,
      rgba(82, 97, 107, 0),
      rgba(82, 97, 107, 0.75),
      rgba(82, 97, 107, 0)
  );
}

/* EXPERIENCE */
#experience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#assurant-box {
  background-color: #e6eef3;
}

#zitga-box {
  background-color: #f0f5f9;
}

#kiotviet-box {
  background-color: #d5e3eb;
}

#experience h2 {
  margin: 5% 0;
}

#experience img {
  border-radius: 0;
}

#zimmer-box {
  background-color: #c9d6df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aon-box {
  background-color: #e6eef3;
}

#heartware-box {
  background-color: #f0f5f9;
}

/* PROJECTS */
#projects {
  background-color: #f0f5f9;
  padding: 20px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.myrow {
  margin: 8px -16px;
}

.myrow,
.myrow > .mycolumn {
  padding: 8px;
}

.mycolumn {
  float: left;
  width: 50%;
  display: none;
}

.myrow:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.myshow {
  display: block;
}

.mybtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #c9d6df;
  color: #1e2022;
  cursor: pointer;
  margin: 5px;
}

.mybtn:hover {
  background-color: #3282b8;
  color: #f0f5f9;
}

.mybtn.active {
  background-color: #52616b;
  color: #f0f5f9;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.25rem;
  }

  h3 {
      font-size: 1rem;
  }

  #navigation-container {
      padding: 0.5% 5%;
  }

  #profile-image {
      width: 10rem;
      height: 10rem;
  }

  .mycolumn {
      width: 100%;
  }
}